body{
  background-color: black;
}
.Heading {
  background-color:#607D8B;
  border-radius: 20px;
  margin-top: 1px;
  border: 4px;
  padding: 13px;
  text-shadow: 2px 4px 5px black;
  color: white;
  font-size: 38px;
  text-align: center;
  position: relative;
}

.machine{
  text-align: center;
  color:white;
}
.slot{
  
  justify-content: center;
  border: 4px solid white;
  background-color: rgb(82, 51, 82);
  width: fit-content;
  padding: 1rem;
  margin: auto;
}


